:root {
  /* Wider content width */
  --nav-width: 1200px;
  --main-width: 1200px;
  /* Custom colors (light mode). */
  --theme: #f2ebe1;
  --code-bg: #ead7be;
  --secondary: #a59a89;
}

.dark{
  --primary: #e1ebf2;
}

code {
    background-color: #ddc9ae;
    color: #605f53;
}

p{
  color: #605f53;
}

li{
  color: #605f53;  
}

.post-entry {
  padding: 12px;
}