:root {
  /* Wider content width */
  --nav-width: 1200px;
  --main-width: 1200px;
  /* Custom colors (light mode). */
  --theme: #f2ebe1;
  --code-bg: #ead7be;
  --secondary: #a59a89;
}

.dark{
  --primary: #e1ebf2;
}